.home {
  min-height: 100vh;
  background-color: #ffffff;
  width: 100%;
}

.home-content {
  width: 100%;
  overflow-x: hidden;
}

.home-content>*:not(.carousel-container) {
  max-width: 85%;
  margin: 1rem auto;

}

.best-sellers {

  padding: 0.5rem;
  border-radius: 20px;

}

/* Responsive adjustments for home content */
@media (max-width: 968px) {
  .home-content>*:not(.carousel-container) {

    max-width: 100%;
  }

  .home-content {

    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .home-content>*:not(.carousel-container) {

    max-width: 100%;
  }

  .home-content {
    overflow-x: hidden;
    padding: 1rem;
  }
}